.carrusel {
	margin-top: 72px;
	margin-bottom: 100px;
}

.carousel-caption {
	top: 0;
}

.mi-caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	
}

