.carrusel {
	margin-top: 72px;
	margin-bottom: 100px;
}

.mi-caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	margin: auto;
	max-width: 800px;
}