.map-responsive {
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-deck {
    margin-top: 90px;
    background: #fcfcfc;

    .icono-contacto {
        margin-bottom: 30px;
        font-size: 40px; 
        color: $celeste;
    }

    .card-title {
        font-weight: 700;
    }

    .card-text { 

        a {
            text-decoration: none;
            color: #000;
        }

        a:hover {
            color: $celeste;
        }

    }


}










