.map-responsive {
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.contacto {
    margin-top: 60px;
    margin-bottom: 50px;

    h5 { 
        padding-top: 20px;      
        font-weight: bold;
    }
}

.icono-contacto {
    font-size: 16px; 
    color: $celeste;
} 

.contacto-datos {
        
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: $celeste;
    }
        
}

.contacto-formulario {
    margin-bottom: 60px;
}