
.footer {
	font-size: 13px;
	text-align: left;
	background: #171717;
	color: #999;
	padding: 100px 20px 110px 50px;
	
	h6 {
		font-weight: 700;
	}

	li a {
		color: #fff;
		text-decoration: none;
	}
	
	.lista__direccion {
		color: #fff;
		line-height: 40px;
		
		.icono-redes {
			font-size: 15px;
			color: #4c96d3;
			margin-right: 7px;	

		}
	}

	.afip {
		margin-top: 20px;
	}

}








