
.footer {
	font-size: 12px;
	background: #0a0a0a;
	color: #fff;
	min-height: 150px;
	
	.lista__direccion {
		color: #4c96d3;
		line-height: 25px;
		
		.icono-redes {
			font-size: 15px;
			color: #4c96d3;
			margin-right: 5px;
			
		}
	}
}


