@media (max-width: 768px) {
  .banner {
    h1 {
   		font-size: 1.5em;
	}
 
  }
}

@media (max-width: 768px) {
	.partners {
		h2 {
			font-size: 1em;
		}
	}
}

@media (max-width: 992px) {
	.header .navbar {
		box-shadow: none;
	}
}

@media (max-width: 768px) {
	.navbar-brand {
		width: 300px;
		margin-right: -80px;
	}
}

@media (min-width: 992px) {
	.nav-item {
		margin-right: 16px;
	}
}

@media (max-width: 992px) {
	.navbar-collapse {
		margin: 0 -1rem;
	}
}

@media (max-width: 768px) {
	.carrusel {
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	.mi-caption {
		font-size: 20px;
	}
}



