.presupuesto {	
	max-width: 900px;
	margin: auto;
	margin-top: 60px;	
	margin-bottom: 50px;	
}

.form-control {
	resize: none;
}

.btn-primary {
	color: #fff;
	background-color: $negro;
	border-color: $negro;
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	}

.btn-primary:hover {
	color: #fff;
	background-color: $celeste;
	border-color: $celeste;
}

