Options FollowSymLinks
RewriteEngine on

RewriteRule ^nosotros$ nosotros.html [L]
RewriteRule ^productos$ productos.html [L]
RewriteRule ^contacto$ contacto.html [L]
RewriteRule ^presupuesto$ presupuesto.html [L]